body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt7IJaFQ4eSEc2i6wsTKYYkW2H0Ni6wbpSE1H5ASTf-Ly5EbwH9I2fEv4&s=10);
    height: 98vh;
    background-size: 100px;
    background-position: right top;
    background-repeat: no-repeat;
    border: 2px solid black 

}