body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt7IJaFQ4eSEc2i6wsTKYYkW2H0Ni6wbpSE1H5ASTf-Ly5EbwH9I2fEv4&s=10);
    background-size: 100px 100px;
    background-repeat: repeat-y;
}