@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/*cofigurando o cabeçalho*/

main {
    padding-bottom: 15px;
}

header {
    background-image: linear-gradient(to top, #1A5E38, #2A965A, #3AD07D);
    padding: 10px;
    text-align: center;
    color: white;
}

header > h1 {
    margin: 20px;
}

header > p {
    padding: 10px;
}

header > nav {
    margin-top: 10px;
    text-align: left;
}

header > nav > a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
    padding: 10px;
    font-weight: bold;
}

header a:hover {
    background-color: #3AD07D;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

/*configurando o corpo do site*/

main {
    background-color: #84E1AC;
}

article {
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    max-width: 800px;
    margin: 0px auto;

}

article > h2 {
    color: #286644;
}

article > h3 {
    color: #286644;
    background-image: linear-gradient(to right, #C8EBD8, white 99%);
}

article > p {
    padding: 10px;
    text-indent: 30px;
}

article > aside {
    background-color: #C5EBD6;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    margin: 15px;
}

article > aside > h4 {
    background-color: #2FA766;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

article > aside > p {
    padding: 10px;
    text-indent: 30px;
}

article > aside > ul {
    list-style-type: none;
    padding: 10px;
    list-style-position: inside;
    columns: 2;
}

article > aside > ul > li::marker {
    content: "✅ "; 
}

article img {
    width: 100%;
    display: block;
    margin: auto;
}

article div {
    background-color: #1A5E38;
    padding: 20px;
    margin: 16px auto
}

article iframe {
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin: auto;
}

article strong {
    color: #1A5E38;
}

footer {
    padding: 5px;
    background-color: #1A5E38;
    text-align: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}